@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*, 
*::before, 
*::after {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ffd000, #ff4800);
}


.title {
  white-space: nowrap;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.title:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px transparent;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  font-family: 'Orbitron', sans-serif;
  transition: .4s;
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.display {
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0, 0, 0, .75);
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-output {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.display .current-output {
  color: white;
  font-size: 2.5rem;
}